
  body {
    background: black;
  }
  h1{
      font-family: cursive;
      font-size: 50px;
  }

  .container2 {
    width: 800px;
    border: 5px solid rgb(116, 114, 114);
    background-color: rgb(65, 99, 100);
    display: grid;
    grid-template-columns: repeat(4, 200px);
    place-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  .item {
    color: rgb(0, 0, 0);
    height: 200px;
    width: 200px;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    padding: -15px;
    margin: 5px;
}

 #add{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 10%;
    top: 30vh;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 8px;
    border: 2px solid yellow;
 }

#add:hover{
    background-color: rgb(38, 243, 19);
    transform: scale(1.1);
}

 #remove{
    border: 2px solid yellow;
    background-color: #ff1b1b; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 75%;
    top: 30vh;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
cursor: pointer; 
}
#remove:hover{
    background-color: rgb(255, 104, 4);
    transform: scale(1.1);
}